<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись в салон красоты «Caramels»</title>
    <h1>Онлайн-запись в салон красоты&nbsp;&laquo;Caramels&raquo;</h1>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style_for_menu.css"/>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style_for_grid.css"/>
    <link rel="stylesheet" type="text/css" href="/static/CSS/master_date.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% macro grid_list(name, proceduere_name, relation, iniq_date) %}
    <div class="form-inner">
    <div class="master_windows">
            <h4>Запись к мастеру <b>«{{ name }}»</b> ({{ proceduere_name }})</h4>
            {% for date in iniq_date %}
                <b><h5>{{ date }}</h5></b>
        <div class="grid">
        {% set n = len(relation) %}
        {% for i in range(n) %}
            {% if relation.loc[i, 'Дата'] == date  %}
                <div class="{{ i }}">
                {% for name in relation.dtypes.index %}
                {% if name=='Запись' %}
                    {% if relation.loc[i, 'Запись'] == 0 %}

                        <input name ='record_button' value={{relation.loc[i, 'IDOrder']}} type="checkbox" id={{relation.loc[i, 'IDOrder']}}>
                        <label class="button_1" for={{relation.loc[i, 'IDOrder']}}>{{relation.loc[i, 'Время']}}:00</label>

                    {% else %}
                        <input  disabled name ='record_button' value={{relation.loc[i, 'IDOrder']}} type="checkbox" id={{relation.loc[i, 'IDOrder']}}>
                        <label class="button_1" for={{relation.loc[i, 'IDOrder']}}>{{relation.loc[i, 'Время']}}:00</label>
                    {% endif %}
                {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <br>
    {% endfor %}
</div>
</div>

{% endmacro %}

<script>$(document).on('ready', function() {
  var checkboxes = $("input[type=checkbox]");
  $("#dateform").on('submit', function(e) {
    var checker = false;
    checkboxes.each(function() {
      if ($(this).prop('checked') == true) {
        checker = true;
      }
    });

    if (checker == false) {
      e.preventDefault();
      console.log('не выбран ни один чекбокс, форма не отправлена');
    } else {
      console.log('выбран хотя бы 1 чекбокс, форма отправлена');
    }
  });
});</script>

</head>
<body>

  <div class="line"></div>

  <div class="menu">
      <div class="menu-item"><a href={{ url_for("index") }}>Выбор услуги</a></div>
      <div class="menu-item item-active">Выбор времени и мастера</div>
      <div class="menu-item menu-item-hidden">Выбор времени</div>
      <div class="menu-item menu-item-hidden">Подтверждение записи</div>
  </div>

  <div class="line"></div>


  <form class="decor">
    <form class="decor" action="{{ url_for('datepage') }}" method="get">
      <h3 style="padding: 45px 0 0 8px;">Выберите интервал:</h3>
      <input type="date" required="required" placeholder="С какого" name="dateStart">
      <input type="date" required="required" placeholder="По какое" name="dateEnd">
      <button type="submit" class="button_main" name="submitGetDate" style="margin: 0 0 0 0; " value="on">Показать</button>
    </form>
  </form>



   {% if indecator==1 %}
       <form id="dateform" class="decor"
             action={{ url_for("regpage") }} method="get">
          {% if len(date_list_list)==0 %}
              <p>К сожалению, на выбранные даты записи нет!</p>
          {% else %}
           {% for i in range(0,len(date_list_list)) %}
               {{ grid_list(date_list_list[i].loc[1, 'MasterName'],date_list_list[i].loc[1, 'ProcedureName'],date_list_list[i], uniq_date_list[i] ) }}
           {% endfor %}
           <input type="submit" class="button_main" value="Подтвердить">
                  {% endif %}

       </form>
    {% endif %}

</body>
</html>