<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Запись в салон красоты «Caramels»</title>
    <h1>Онлайн-запись в салон красоты&nbsp;&laquo;Caramels&raquo;</h1>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style_for_menu.css" />
    <link rel="stylesheet" type="text/css" href="/static/CSS/frame_style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    {% macro render_list(title, name, relation) %}

        <details>
            <summary><b>{{ title }}</b></summary>
            {% set n = len(relation) %}
            {% for i in range(n) %}
                {% if relation.iloc[i][3] == title %}
                    <input class="checkbox-elem" type="radio" name={{ name }} value='{{ relation.iloc[i][1] }}' id={{ name }}{{ i }}>
                    <label for={{ name }}{{ i }}>{{ relation.iloc[i][1] }}({{ relation.iloc[i][2] }}₽)</label>
                    <br>
                {% endif %}
                {% endfor %}
        </details>

    {% endmacro %}

    <!-- -------------------------------------------------------------------------- -->

    <!-- Проверка на то, выбрал ли что-то пользователь или нет -->
    <script>
        // Функция выполняется при полной загрузке страницы
        $(document).on('ready', function () {
            // Получаем все элементы чекбоксов
            var checkboxes = $("input[type=radio]");

            // При отправке формы с id "main"
            $("#main").on('submit', function (e) {
                // Устанавливаем начальное значение checker на false
                var checker = false;

                // Перебираем все найденные чекбоксы
                checkboxes.each(function () {
                    // Если чекбокс выбран, устанавливаем checker на true
                    if ($(this).prop('checked') == true) {
                        checker = true;
                    }
                });

                // Если ни один чекбокс не выбран, отменяем отправку формы и выводим сообщение в консоль
                if (checker == false) {
                    e.preventDefault();
                    console.log('не выбран ни один чекбокс, форма не отправлена');
                } else {
                    // Если хотя бы один чекбокс выбран, отправляем форму и выводим сообщение в консоль
                    console.log('выбран хотя бы 1 чекбокс, форма отправлена');
                }
            });
        });
    </script>
  
</head>

<body>

    <div class="line"></div>

    <div class="menu">
        <div class="menu-item item-active">Выбор услуги</div>
        <div class="menu-item menu-item-hidden">Выбор мастера</div>
        <div class="menu-item menu-item-hidden">Выбор времени</div>
        <div class="menu-item menu-item-hidden">Подтверждение записи</div>
    </div>

    <div class="line"></div>

    <form id="main" method="get" class="decor">
        <div class="form-inner">
            <h3>Выберите услугу:</h3>
            <div>
                <div>
                    <form class="form">
                        {{ render_list('Парикмахер', 'barber' , service) }}
                        {{ render_list('Маникюр', 'nail' , service) }}
                        {{ render_list('Шугаринг', 'shugaring' , service) }}
                        {{ render_list('Визажист', 'makeup' , service) }}
                        {{ render_list('Косметолог', 'cosmetolog' , service) }}

                        <button formaction="masterpage" class="button_1">Выбрать мастера</button>
                        <button formaction="datepage" class="button_1">Выбрать дату</button>
                    </form>

                </div>
            </div>

        </div>
    </form>

</body>

</html>