<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись в салон красоты «Caramels»</title>
    <h1>Онлайн-запись в салон красоты&nbsp;&laquo;Caramels&raquo;</h1>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style_for_menu.css"/>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style_for_grid.css"/>
    <link rel="stylesheet" type="text/css" href="/static/CSS/master_date.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {% macro grid_list(name,proceduere_name, relation, iniq_date) %}

        <div class="master_windows">
            <div class="form-inner">
                <h4>Запись к мастеру <b>«{{ name }}»</b> ({{ proceduere_name }})</h5>

                {% for date in iniq_date %}
                    <b><h5>{{ date }}</h4></b>
                    <div class="grid">
                        {% set n = len(relation) %}
                        {% for i in range(n) %}
                            {% if relation.loc[i, 'Дата'] == date  %}
                                <div class="{{ i }}">
                                    {% for name in relation.dtypes.index %}
                                        {% if name=='Запись' %}
                                            {% if relation.loc[i, 'Запись'] == 0 %}

                                                <input name ='record_button' value={{relation.loc[i, 'IDOrder']}} type="checkbox" id={{relation.loc[i, 'IDOrder']}}>
                                                <label class="button_1" for={{relation.loc[i, 'IDOrder']}}>{{relation.loc[i, 'Время']}}:00</label>
                                            {% else %}
                                                <input  disabled name ='record_button' value={{relation.loc[i, 'IDOrder']}} type="checkbox" id={{relation.loc[i, 'IDOrder']}}>
                                                <label class="button_1" for={{relation.loc[i, 'IDOrder']}}>{{relation.loc[i, 'Время']}}:00</label>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endmacro %}

 <!-- -------------------------------------------------------------------------- -->

  <!-- Проверка на то, выбрал ли что-то пользователь или нет -->
  <script>
    // Функция выполняется при полной загрузке страницы
    $(document).on('ready', function () {
        // Получаем все элементы чекбоксов
        var checkboxes = $("input[type=checkbox]");

        // При отправке формы с id "main"
        $("#form_grid").on('submit', function (e) {
            // Устанавливаем начальное значение checker на false
            var checker = false;

            // Перебираем все найденные чекбоксы
            checkboxes.each(function () {
                // Если чекбокс выбран, устанавливаем checker на true
                if ($(this).prop('checked') == true) {
                    checker = true;
                }
            });

            // Если ни один чекбокс не выбран, отменяем отправку формы и выводим сообщение в консоль
            if (checker == false) {
                e.preventDefault();
                console.log('не выбран ни один чекбокс, форма не отправлена');
            } else {
                // Если хотя бы один чекбокс выбран, отправляем форму и выводим сообщение в консоль
                console.log('выбран хотя бы 1 чекбокс, форма отправлена');
            }
        });
    });
  </script>

</head>
<body>

    <div class="line"></div>

    <div class="menu">
        <div class="menu-item"><a href={{ url_for("index") }}>Выбор услуги</a></div>
        <div class="menu-item">Выбор мастера</div>
        <div class="menu-item item-active">Выбор времени</div>
        <div class="menu-item menu-item-hidden">Подтверждение записи</div>
    </div>

    <div class="line"></div>


<!-- Выодим рассписание мастеров -->
    <form id ='form_grid' class="decor" action={{ url_for("regpage") }} method="get">
        <h3>Выберите время записи:</h3>
        {% for i in range(0,len(master_records_list)) %}
            {{ grid_list(master_records_list[i].loc[1, 'MasterName'],master_records_list[i].loc[1, 'ProcedureName'],master_records_list[i], uniq_date_list[i] ) }}
        {% endfor %}
        <input type="submit" class="button_main" value="Подтвердить запись">
    </form>

</body>
</html>