<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись в салон</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style_for_menu.css"/>
    <link rel="stylesheet" type="text/css" href="/static/CSS/frame_style.css"/>


</head>
<body>
    <div class="line"></div>

    <div class="menu">
        <div class="menu-item">Выбор услуги</div>
        <div class="menu-item">Выбор мастера</div>
        <div class="menu-item">Выбор времени</div>
        <div class="menu-item">Подтверждение записи</div>
    </div>

    <div class="line"></div>

<form id="main" method="get" class="decor" method="get">
    <div class="form-inner">
        <h3><b>{{ name }}!</b></h3>
        <p>Спасибо за обращение.</p>
        <p>Ждем вас по адрессу <b>г.Владивосток, ул. Алеутская, 2</b>.</p>
        <input type="submit" class="button_1" name="exit" value="Завершить">
    </div>
</form>
</body>
</html>